[submodule "thymio-adventure-assets-qt3d"]
	path = assets
	url = https://github.com/aseba-community/thymio-adventure-assets-qt3d.git
[submodule "thymio-ar"]
	path = thymio-ar
	url = https://github.com/aseba-community/thymio-ar.git
[submodule "transmem"]
	path = transmem
	url = https://github.com/fluckmic/transmem
